[color]
    ui = auto

[core]
    autocrlf = input
    whitespace = cr-at-eol
    excludesfile = ~/.dotfiles/.gitignore_global
    pager = diff-so-fancy | less --tabs=2 -RFX

[alias]
    # general commands
    s = status -s
    c = commit -a -m
    aa = "!git add -u && git add . && git status -s"
    amend = commit -a --amend

    # diff commands
    d = diff
    dt = difftool

    # fetch commands
    f = fetch
    fo = fetch origin
    fu = fetch upstream

    # push commands
    p = push
    po = push origin
    poh = push origin HEAD

    # rebase commands
    rb = rebase
    rbc = rebase --continue

    # branch commands
    b = branch
    co = checkout
    cob = checkout -b

    # grep commands
    gpath = "!git ls-files | grep -i"
    grep = grep -Ii

    # log commands
    l = log
    ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
    ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat

    # reset commands
    rom = reset --hard origin/master
    r = reset
    rh = reset --hard

[difftool]
    prompt = false

[mergetool]
    prompt = false

[grep]
    linenumber = true

[init]
    defaultBranch = "main"